{% extends "base_panel.html" %}

{% block title %}All User Accounts{% endblock %}

{% block top_container %}
  All User<span class="hidden-xs"> Account</span>s
  <p class="pull-right">
    <a href="{% url "userman:add" %}" class="btn btn-info btn-sm"> <i class="icon-user-follow"></i> <span> Add User Account</span> </a>
  </p>
{% endblock %}

{% block main_container %}
  <form class="form-inline content-nav" role="form" name="userForm">
    <div class="form-group">
      <label><strong> </strong></label>
    </div>
  </form>

  <div class="table-autoscroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Account type</th>
            <th>Active</th>
            <th>Last login</th>
            <th>Date joined</th>
          </tr>
        </thead>

        <tbody>
        {% if users|length %}
          {% for usr in users %}
            <tr>
              <td><a href="{% url "userman:read" usr.pk %}">{{ usr.username }}</a></td>
              <td>
                {% if usr.user_profile.is_admin %}
                  <span class="label label-primary">Administrator</span>
                {% else %}
                  <span class="label label-default">Normal</span>
                {% endif %}
              </td>
              <td>
                {% if usr.is_active %}
                  <span class="label label-success">Active</span>
                {% else %}
                  <span class="label label-danger">Deactivated</span>
                {% endif %}
              </td>
              <td>{{ usr.last_login }}</td>
              <td>{{ usr.date_joined }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan=5>No record</td>
          </tr>
        {% endif %}
        </tbody>

        <tfoot>
          <tr>
            <th colspan=4>Total User Accounts</th>
            <th>{{ users|length }}</th>
          </tr>
        </tfoot>

      </table>
  </div>

{% endblock %}

{% block extrajs %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            // highlight menu item
            $('#sidebar-menu-item-users').addClass('active');
        });
    </script>

{% endblock %}
