{% extends "base.html" %}

{% block title %}Page Layout Preview{% endblock %}

{% block base_container %} 
  <div class="layout-preview"></div>
{% endblock %}

{% block extrajs %}
  <script src="{{ STATIC_URL }}webapp/js/layout.v1.1.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      localStorage.setItem("survey-preview-url", '{% url "app:survey_preview" %}')
      localStorage.setItem("survey-handler-url", '{% url "app:survey_handler" %}')
      localStorage.setItem("survey-test-enabled", '1')

      previewLayout();
    });
  </script>
{% endblock %}
