{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block base_container %}
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Password reset</h4>
                </div>
                <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                      <p>Enter your e-mail address below to reset your password.</p>
                      <input type="text" name="email" autocomplete="off" class="form-control placeholder-no-fix" value="{{ form.email.value|default:"" }}">
                      {% if form.email.errors %}<p class="help-block">{{ form.email.errors.0 }}</p>{% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'login' %}" class="btn btn-default">Back to Login page</a>
                    <button class="btn btn-theme" type="submit">Continue</button>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
