{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset done" %}{% endblock %}

{% block base_container %}
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Password reset successful</h4>
                </div>
                <div class="modal-body">
                  <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
                  <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'dashboard:main' %}" class="btn btn-default">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
