{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block base_container %}

    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Set Password</h4>
                </div>
                <form action="" method="post" class="form-horizontal">
                   {% csrf_token %}

                <div class="modal-body">
                    {% if validlink %}
    
                      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    
                        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                            <label class="col-sm-3 col-sm-3 control-label">New Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="new_password1" autocomplete="off" class="form-control placeholder-no-fix" value="{{ form.new_password1.value|default:"" }}">
                                {% if form.new_password1.errors %}<p class="help-block">{{ form.new_password1.errors.0 }}</p>{% endif %}
                            </div>
                        </div>

                        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                            <label class="col-sm-3 col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="new_password2" autocomplete="off" class="form-control placeholder-no-fix" value="{{ form.new_password2.value|default:"" }}">
                                {% if form.new_password2.errors %}<p class="help-block">{{ form.new_password2.errors.0 }}</p>{% endif %}
                            </div>
                        </div>
                    {% else %}
                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a href="{% url 'dashboard:main' %}" class="btn btn-default">Cancel</a>
                    {% if validlink %}<button class="btn btn-theme" type="submit">Continue</button>{% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
